$header-bg: white;
$header-bottom-border-color: #cacaca;




//colors
$white-color: #fff;
$black-color: #000;
$dark-grey-color: #333;
$dark-grey-6-color: #666;
$dark-grey-9-color: #999;
$light-grey-color: #ccc;
$main-color: #cc0001;
$video-border-color: #eaebf0;
$color_pomegranate_approx: #ed3020;
$video-title: #262626;
$video-title-border: #eaebf0;



//headings
$h1-font-size-mobile: 28px;
$h1-font-size-small : 31px;
$h1-font-size-medium: 33px;
$h1-font-size-large : 36px;


//images
$url_0: url(../img/controls.png);


//layouts

/*header*/
$header-height: 60px;

/*sidebar*/
$sidebar-width: 180px;
$sidebar-height: 180%;



//margin and paddings

$margin-0 :0;
$padding-0: 0;
